[Unit]
Description=GdoSniffer service for Kevelaer
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/var/local/gdo-sniffer-kevelaer/
ExecStart=/usr/local/src/gdo-sniffer-kevelaer/run.sh
Restart=no
