[Unit]
Description=GdoSniffer service for Kevelaer
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/prod/GdoSnifferKevelaer/
ExecStart=/prod/GdoSnifferKevelaer/run.sh
Restart=no
